* {
	box-sizing: border-box;
}

main {
	background-image: url("../static-photos/background-edit.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	opacity: 0.9;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

header {
	margin: 0 auto;
	padding: 4rem 1rem 1rem 1rem;
}

label {
	display: block;
	margin: 6px;
}

button:hover {
	cursor: pointer;
}

label > input {
	margin: 6px;
	display: block;
}

.hidden {
	display: none;
}

.float-left {
	margin-right: 15%;
}

.float-right {
	margin-left: 15%;
}

.center-overlay {
	position: fixed;
	top: 15rem;
	bottom: 15rem;
	left: 10rem;
	right: 10rem;
	z-index: 10;
	padding: 6rem 2rem;
}