* {
	box-sizing: border-box;
	font-family: 'Quattrocento Sans', sans-serif;
}

main{
	background-color: white;
	background-position: bottom;
	margin-top: 56px;
	padding: 2rem 0rem;
}

hr {
	width: 66.666%;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

header {
	margin: 0 auto;
	text-align: center;
}

label {
	display: block;
	margin: 6px;
}

h1 {
	font-family: 'Merriweather Sans', sans-serif;
}

button:hover {
	cursor: pointer;
}

label > input {
	margin: 6px;
	display: block;
}

div.form-wrapper {
	text-align: center;
	margin: 0 auto;
}

div.login-signup {
	text-align: center;
	margin: 0 auto;
}

button.js-button {
	padding: .5rem 3rem;
	background-color: white;
	border: 3px solid #023960;
	color: #023960;
	font-weight: 600;
	transition-property: background-color, color;
	transition-duration: .5s;
}

button.js-button:hover {
	background-color: #023960;
	color: white;
}

.hidden {
	display: none;
}

.float-left {
	margin-right: 15%;
}

.float-right {
	margin-left: 15%;
}

.center-overlay {
	position: fixed;
	top: 15rem;
	bottom: 15rem;
	left: 10rem;
	right: 10rem;
	z-index: 10;
	padding: 6rem 2rem;
}

@media only screen and (min-width: 640px) {
	main {
		padding: 2rem;
	}
}