article.banner {
	margin-top: 46px;
	color: #023960;
	line-height: 1.5rem;
}

section.demo {
	padding: 1rem;
}

section.demo div.form-wrapper {
	max-width: 460px;
}

div.skip {
	margin-top: 2rem;
}

@media only screen and (min-width: 1000px) {
	section.demo {
		border: 1px solid #023960;
	}
}