div.carousel-wrapper {
	float: none;
}

div.react-carousel {	
    height: 350px;
    width: 100%;
    justify-content: center;
}

div.react-carousel__navigation-button--previous {
	background-image: url("../static-photos/caret-lft.png");
}

div.react-carousel__navigation-button--next {
	background-image: url("../static-photos/caret-rt.png");
}

div.react-carousel__navigation-button--previous, div.react-carousel__navigation-button--next {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	transition: background-color 1s ease-out;
	border-radius: 15px;
}

div.react-carousel__navigation-button--previous:hover, div.react-carousel__navigation-button--next:hover {
	background-color: lightgrey;
	cursor: pointer;
}

div.react-carousel li {
	background-color: #ffe6b3;
}

div.react-carousel li > a img {
	max-width: 246px;
	max-height: 135px;
	margin: 0 auto;
}

div.react-carousel dd {
	color: #09359B;
}