footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-image: url("../static-photos/background-edits.png");
	background-color: #023960;
	background-position-x: center;
	background-position-y: -65px, top; 
	background-repeat: no-repeat;
	min-height: 9rem;
}

footer div {
	font-size: 16px;
}

footer div>a {
	color: white;
	font-weight: 600;
	text-decoration: none;
	transition: all 0.25s ease-out;
}

footer div>a:hover{
	text-decoration: underline;
	color: #023960;
}

footer ul {
	padding: 0;
	margin: 0;
}

footer li {
	margin: 0rem 1rem;
}

footer p>a {
	color: white;
	font-weight: 600;
	transition: all 0.25s ease-in-out 0s;
}

footer p>a:hover {
	text-decoration: underline;
}

footer p {
	margin: 0.25rem 0;
	color: white;
}

.footer-link {
	display: inline-block;
	margin: 0.5rem;
	width: auto;
}

.link-hover {
	color: white;
	padding: 1px 5px;
	transition: all 0.25s ease-in-out 0s;
}

.link-hover:hover {
	transform: scale(1.1);
	background: white;
	color: #023960;
	border-radius: 5px;
}