footer {
	background-image: url("../static-photos/background-edits.png");
	background-color: #023960;
	background-position-x: center;
	background-position-y: top; 
	background-repeat: no-repeat;
	min-height: 15rem;
}

footer div {
	font-size: 16px;
}

footer ul {
	padding: 0;
	margin-top: 0;
}

footer li {
	margin: 0rem 1rem;
}

footer a {
	color: white;
	font-weight: 600;
	transition: color, font-size;
	transition-duration: 0.5s;
	text-decoration: underline;
}

footer a:hover {
	color: #ffe6b3;
	cursor: pointer;
	font-size: 125%;
}

footer a:visited {
}

p {
	margin: 0 auto;
	padding: 1rem;
}