section.gameView-wrapper {
	padding: 1rem 0 1rem 0;
}

div.game-view {
	padding-top: 4rem;
	width: 75%;
}

p.summary {
	text-align: justify;
	padding: 0;
}

dl.game-details {
	background-color: #ffe6b3;
	border-radius: 25px;
	display: inline-block;
	width: 65%;
	padding: 1%;
}

img.game-photo {
	display: inline-block;
	height: 320px;
	width: 227px;
	margin: 2rem;
}

button.watchlist-add {
	border-radius: 5px;
	padding: 5px;
	font-weight: bold;
}