section.gameView-wrapper {
	padding: 1rem 0 1rem 0;
}

div.game-view {
	padding-top: 1rem;
	text-align: center;
}

p.summary {
	text-align: justify;
	padding: 0;
}

div.description-wrapper {
	display: inline-block;
}

dl.game-details {
	text-align: center;
	background-color: #ffe6b3;
	padding: 2rem;
	line-height: 1.5rem;
	width: 100%;
}

div.photo-wrapper {
	display: inline-block;
}

img.game-photo {
	height: 320px;
	width: 227px;
	margin-top: 1em;
}

button.watchlist-add {
	border-radius: 5px;
	padding: 5px;
	font-weight: bold;
}

ul.platforms {
	float: none;
	text-align: center;
	margin: 0 auto;
}


@media only screen and (min-width: 620px) {
	div.game-view {
		display: flex;
		align-items: flex-start;
		justify-content: center;
	}
}