section.gameView-wrapper {
	margin-top: 46px;
	padding: 1rem 0 1rem 0;
}

div.game-view {
	padding-top: 4rem;
	text-align: center;
}

p.summary {
	text-align: justify;
	padding: 0;
}

div.description-wrapper {
	display: inline-block;
}

dl.game-details {
	text-align: center;
	background-color: #ffe6b3;
	padding: 2rem;
	line-height: 1.5rem;
	width: 100%;
}

div.photo-wrapper {
	display: inline-block;
}

img.game-photo {
	height: 320px;
	width: 227px;
	margin: 2rem;
}

button.watchlist-add {
	border-radius: 5px;
	padding: 5px;
	font-weight: bold;
}

ul.platforms {
	float: none;
	text-align: center;
}
