form.login-form {
	border: 1px solid grey;
	border-radius: 10px;
	margin: 0 auto;
	padding: 1rem;
	text-align: center;
	width: 50%;
	max-width: 15rem;
}

form.login-form > input {
	padding: 5px;
	border-radius: 5px;
}