nav {
	font-weight: 600;
	padding: 1rem;
	background-color: grey;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
}

img.avatar {
	height: 1.5rem;
	width: 1.5rem;
	display: inline-block;
	margin-right: 1rem;
	border-radius: 5px;
}

div.link > a {
	text-decoration: none;
	color: white;
	transition-property: color; 
	transition-duration: .5s;
}

div.home, div.login, div.avatar {
	display: inline-block;
	height: 1.5rem;
	width: 20%;
	margin: 0 2rem;
}

div.avatar {
	vertical-align: text-top;
}

div.home {
	position: relative;
	right: 25%;
}

div.login, div.avatar {
	position: relative;
	left: 25%;
}

div.link > a:hover {
	color: blue;
}

div.avatar > h3 {
	display: inline-block;	
	padding: 0;
	vertical-align: super;
}

nav > div > a {
	text-decoration: none;
}