nav {
	font-weight: 600;
	padding: 1rem;
	background-color: #023960;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
}

div.avatar {
	background-color: white;
}

div.link > a {
	display: block;
	font-size: 24px;
	text-decoration: none;
	color: white;
	transition-property: color; 
	transition-duration: .5s;
}

div.home, div.login, div.avatar {
	display: inline-block;
	height: 2rem;
	margin: 0 2rem;
}

div.avatar {
	vertical-align: text-top;
}

div.login, div.avatar {
	float: right;
}

div.link > a:hover {
	color: lightgrey;
}

div.avatar > h3 {
	display: inline-block;	
	padding: 0;
	vertical-align: super;
}

nav > div > a {
	text-decoration: none;
}