section.onboarding {
	margin: 0 3rem;
}

.onboarding figure {
	text-align: center;
	width: 66.666%;
}

.onboarding img {
	height: 100%;
}

.onboarding article {
	display: flex;
	justify-content: center;
	padding: 5rem 0;
}

.onboarding article > div {
	width: 33.333%;
	margin: 2rem;
}

.onboarding p {
	padding: 0;
}