div.price-wrapper {
	margin: 0 auto;
	text-align: center;
}

ul.pricer-list {
	text-align: center;
	border: 4px solid #023960;
	margin: 0 auto;
}

ul.pricer-list td {
	width: 50%;
}

img.logo {
	height: 75px;
}

img.amazon-logo {
	margin-bottom: -1rem;
}