section.relatedGames-wrapper {
	padding: 1rem;
}

button.list-adder {
	vertical-align: text-bottom;
	display: inline-block;
	width: 8%;
	height: 140px;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
}