section.relatedGames-wrapper {
	padding: 1rem;
	margin: 0 auto;
}

section.relatedGames-wrapper > p {
	font-size: 18px;
}

button.list-adder {
	vertical-align: text-bottom;
	display: inline-block;
	width: 5rem;
	height: 5rem;
	border-radius: 100%;
	color: lightcoral;
}