section.results-wrapper {
}

div.results-display {
	padding: 1rem;
}

span.bread-crumbs {
	vertical-align: top;
	padding: 5px;
	font-size: 20px;
	font-weight: 600;
}

span.bread-crumbs:hover {
	cursor: pointer;
}