form.search-bar {
	width: 100%;
}

input.search {
	background-color: white;
	color: black;
	margin: 0 auto;
	width: 85%;
	height: 50px;
	padding-left: 1rem;
	font-size: 18px;
	border: none;
	border: 1px solid #023960;
	border-right: none;
}

input.search:focus {
	outline: none;
}

input.search::placeholder {
	color: black;
}

button.submit {
	background-color: white;
	border: 1px solid #023960;
	border-left: none;
	height: 50px;
	width: 15%;
	max-width: 4rem;
	vertical-align: bottom;
	font-weight: bold;
	color: #023960;
	transition: all 0.25s ease-in-out;
}

button.submit:hover {
	background-color: #023960;
	color: white;
}

@media only screen and (min-width: 1000px) {
	form.search-bar {
		width: 50%;
	}

	div.result-padding {
		padding-left: 8rem;
	}
}