input.search {
	background-color: white;
	color: black;
	width: 33%;
	min-width: 12rem;
	height: 50px;
	padding-left: 1%;
	font-size: 18px;
	border: none;
	border: 3px solid #023960;
}

input.search::placeholder {
	color: black;
}

button.submit {
	background-color: #023960;
	margin-left: 5px;
	height: 50px;
	width: 5%;
	min-width: 4rem;
	vertical-align: bottom;
	font-weight: bold;
	color: white;
	transition-property: color, background-color, border;
	transition-duration: .5s;
}

button.submit:hover {
	background-color: white;
	color: #023960;
	border: 2px solid #023960;
}

form.search-bar {
	margin: 0 auto;
	text-align: center;
	padding: 1%;
}