div.tile {
	color: #09359B;
	padding: 1rem 0;
	float: none;
}


dd {
	margin: 15px auto;
}

dd:first-of-type {
	font-size: 22px;
	font-weight: bold;
}

dl {
	display: inline-block;
	width: 70%;
	vertical-align: top;
}

span.props {
	padding-left: 1rem;
	font-size: 22px;
}

img.cover-photo {
	display: inline-block;
	width: 90px;
	height: 128px;
}

div.dashboard-list {
	display: flex;
	align-items: center;
	justify-content: center;
}

i.fa-minus-circle, i.fa-plus-circle {
	transition: color 0.5s;
}

i.fa-minus-circle:hover, i.fa-plus-circle:hover {
	color: #09359B;
}

.hidden {
	display: none;
}

@media only screen and (min-width: 1000px) {
	div.tile {
		padding: 1rem 0 1rem 8rem;
	}
}