div.tile {
	text-align: center;
	padding: 1.5rem;
	color: #09359B;
	border-bottom: 2px solid #09359B;
	transition-property: color background-color;
	transition-duration: .5s;
	margin: 0 auto;
	float: none;
}

div.tile:hover {
	background-color: #ffe6b3;
	color: white;
}

dd {
	margin: 15px auto;
}

dd:first-of-type {
	font-size: 22px;
	font-weight: bold;
}

dl {
	display: inline-block;
	width: 60%;
	vertical-align: top;
}

span.props {
	font-size: 22px;
	vertical-align: top;
}

img.cover-photo {
	display: inline-block;
	width: 90px;
	height: 128px;
}

div.dashboard-list {
	display: flex;
	align-items: center;
	justify-content: center;
}

i.fa-minus-circle, i.fa-plus-circle {
	transition: color 0.5s;
}

i.fa-minus-circle:hover, i.fa-plus-circle:hover {
	color: #09359B;
}

.hidden {
	display: none;
}