section.watchlist-wrapper { 
	padding: 1rem;
	margin: 0 auto;
}

div.watchlist-tile {
	display: inline-block;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

button.list-remover {
	vertical-align: text-bottom;
	display: inline-block;
	width: 5rem;
	height: 5rem;
	border-radius: 100%;
	background: lightgreen;
}

/*li.game-row {
	margin: 0 auto;
	width: 66.666%;
}*/