section.gameView-wrapper {
	padding: 1rem 0 1rem 0;
}

div.game-view {
	width: 75%;
}

p.summary {
	text-align: justify;
	padding: 0;
}

dl.game-details {
	display: inline-block;
	width: 65%;
	padding: 1%;
}

img.game-photo {
	display: inline-block;
	height: 205px;
	width: 205px;
	margin: 2rem;
}