section.relatedGames-wrapper {
	padding: 1rem;
}

button.list-adder {
	vertical-align: text-bottom;
	display: inline-block;
	position: relative;
	top: 15px;
	width: 5%;
	height: 180px;
	vertical-align: top;
	border-radius: 25px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}